<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="./css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/bootstrap-theme.min.css">
		<script type="text/javascript" src="./js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="./js/bootstrap.min.js"></script>
		<script type="text/javascript" src="./js/angular.js"></script>
  		<script type="text/javascript" src="./js/bower_components/ngFileReader/src/ngFileReader.js"></script>
  		<script type="text/javascript" src="./js/base64.js"></script>
		<script type="text/javascript" src="./js/controller.js"></script>
	</head>
	<body ng-app="FileApp" ng-controller="fileCtrl">

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">

							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button> <a class="navbar-brand" href="#">Steganography</a>
						</div>

						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li ng-class="{ active: selectedMode === 'image' }" ng-click="selectedMode = 'image'">
									<a href="#">Image</a>
								</li>
								<li ng-class="{ active: selectedMode === 'audio' }" ng-click="selectedMode = 'audio'">
									<a href="#">Audio</a>
								</li>
								<li ng-class="{ active: selectedMode === 'video' }" ng-click="selectedMode = 'video'">
									<a href="#">Video</a>
								</li>
							</ul>

						</div>
					</nav>

					<!-- IMAGE STEGANOGRAPHY -->
					<form role="form" ng-show="selectedMode === 'image'">
						<div class="form-group">

							<label for="imageMessage">
								Message
							</label>
							<input type="text" ng-model="msg" class="form-control" id="imageMessage" />
						</div>

						<div class="form-group">

							<label for="imageNBit">
								Number of bits
							</label>
							<br />
              <label >
                  <input type="radio" name="imageNBit" ng-value="1" ng-model="imageBit" /> 1
              </label>
              <label >
                  <input type="radio" name="imageNBit" ng-value="2" ng-model="imageBit"/> 2
              </label>
              <label >
                  <input type="radio" name="imageNBit" ng-value="3" ng-model="imageBit"/> 3
              </label>
              <label >
                  <input type="radio" name="imageNBit" ng-value="4" ng-model="imageBit"/> 4
              </label>
							<label >
                  <input type="radio" name="imageNBit" ng-value="5" ng-model="imageBit"/> 5
              </label>
              <label >
                  <input type="radio" name="imageNBit" ng-value="6" ng-model="imageBit"/> 6
              </label>
							<label >
                  <input type="radio" name="imageNBit" ng-value="7" ng-model="imageBit"/> 7
              </label>
							<label >
                  <input type="radio" name="imageNBit" ng-value="8" ng-model="imageBit"/> 8
              </label>

						</div>

						<div class="form-group">

							<label for="imageInput">
								Image file
							</label>
							<div ng-file-reader id="imageInput" accept="image/gif, image/jpeg, image/png" on-selected="onSelected(files)" on-readed="onReaded(event,file)" 	read-method="readMethod"></div>
						</div>

						<div ng-show="img">
							<h1>Original Image</h1>
							<img ng-src="{{img}}">
							<h1>Modified Image</h1>
							<canvas id="myCanvas" width="5000" height="5000"></canvas>
							<br><br><br>
							<button><a id="download" ng-click="downloadCanvas()" href="" download="image.png">Download as image</a></button>
							<p>{{decodedMessage}}</p>
						</div>
					</form>
					<!-- END IMAGE STEGANOGRAPHY -->


					<!-- AUDIO STEGANOGRAPHY -->
					<form role="form" ng-show="selectedMode === 'audio'">
						<div class="form-group">

							<label for="imageMessage">
								Message
							</label>
							<input type="text" ng-model="msg" class="form-control" id="imageMessage" />
						</div>

						<div class="form-group">

							<label for="soundNBit">
								Number of bits
							</label>
							<br />
							<label >
                  <input type="radio" name="soundNBit" ng-value="1" ng-model="soundNBit" /> 1
              </label>
              <label >
                  <input type="radio" name="soundNBit" ng-value="2" ng-model="soundNBit"/> 2
              </label>
              <label >
                  <input type="radio" name="soundNBit" ng-value="3" ng-model="soundNBit"/> 3
              </label>
              <label >
                  <input type="radio" name="soundNBit" ng-value="4" ng-model="soundNBit"/> 4
              </label>
							<label >
                  <input type="radio" name="soundNBit" ng-value="5" ng-model="soundNBit"/> 5
              </label>
              <label >
                  <input type="radio" name="soundNBit" ng-value="6" ng-model="soundNBit"/> 6
              </label>
							<label >
                  <input type="radio" name="soundNBit" ng-value="7" ng-model="soundNBit"/> 7
              </label>
							<label >
                  <input type="radio" name="soundNBit" ng-value="8" ng-model="soundNBit"/> 8
              </label>
						</div>

						<div class="form-group">

							<label for="imageInput">
								Audio file
							</label>
							<div ng-file-reader id="imageInput" accept="audio/wav" on-selected="onSelected(files)" on-readed="onReaded(event,file)" 	read-method="readMethod"></div>
						</div>

						<div ng-show="sound">
							<h1>Original Sound</h1>
							<audio controls src="{{sound}}">
								Your browser does not support audio tag
							</audio>
							<h1>Modified Sound</h1>
							<audio controls src="{{modifiedSound}}">
								Your browser does not support audio tag
							</audio>
							<p>{{decodedMessage}}</p>
						</div>
					</form>
					<!-- END AUDIO STEGANOGRAPHY -->

					<!-- VIDEO STEGANOGRAPHY -->
					<form role="form" ng-show="selectedMode === 'video'">
						<div class="form-group">

							<label for="imageMessage">
								Message
							</label>
							<input type="text" ng-model="msg" class="form-control" id="imageMessage" />
						</div>

						<div class="form-group">

							<label for="videoNBit">
								Number of bits
							</label>
							<br />
              <label >
                  <input type="radio" name="videoNBit" ng-value="1" ng-model="videoNBit" /> 1
              </label>
              <label >
                  <input type="radio" name="videoNBit" ng-value="2" ng-model="videoNBit"/> 2
              </label>
              <label >
                  <input type="radio" name="videoNBit" ng-value="3" ng-model="videoNBit"/> 3
              </label>
              <label >
                  <input type="radio" name="videoNBit" ng-value="4" ng-model="videoNBit"/> 4
              </label>
							<label >
                  <input type="radio" name="videoNBit" ng-value="5" ng-model="videoNBit"/> 5
              </label>
              <label >
                  <input type="radio" name="videoNBit" ng-value="6" ng-model="videoNBit"/> 6
              </label>
							<label >
                  <input type="radio" name="videoNBit" ng-value="7" ng-model="videoNBit"/> 7
              </label>
							<label >
                  <input type="radio" name="videoNBit" ng-value="8" ng-model="videoNBit"/> 8
              </label>
						</div>

						<div class="form-group">

							<label for="imageInput">
								Video file
							</label>
							<div ng-file-reader id="imageInput" accept="video/mp4" on-selected="onSelected(files)" on-readed="onReaded(event,file)" 	read-method="readMethod"></div>
						</div>

						<div ng-show="modifiedVideo">
							<h1>Original Video</h1>
							<video controls src="{{video}}">
								Your browser does not support video tag
							</video>
							<h1>Modified Video</h1>
							<video controls src="{{modifiedVideo}}">
								Your browser does not support video tag
							</video>
							<p>{{decodedMessage}}</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
